section {
  padding: 50px 10px;
  @include fluid-val((padding-top, padding-bottom), 60px, 130px);
  
  &:first-child, &:last-child {
    padding: 0 10px;
  }
}

.title-bar {
  @include fluid-val(height, 3px, 5px);
  margin: auto;
  background: linear-gradient(
    to right,
    #16a1fd 0%,
    #16a1fd 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 85%,
    #56d2f7 85%,
    #56d2f7 100%
  );
}

.link-underline {
    position: relative;
    white-space: nowrap;
    color: #737373;
    transition: color 300ms;
    // transition-timing-function: ease-out;

    &:visited {
      color: #737373;
    }

    &:hover,
    &:focus {
      color: #56d2f7;
    }

  &::after {
    content: "";
    position: absolute;
    background: #fbbb34;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: translateY(2px) scaleX(0.35);
    transition: transform .3s, opacity .3s;
    transform-origin: 20%;
  }

  &:hover::after, &:focus::after {
    transform: translateY(2px) scaleX(1);  
    opacity: .5;
  }
}

.js_progress-bar {
  --scroll: 0;
  background: #fbbb34;
  position: fixed;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(var(--scroll));
  transform-origin: left;
  transition: linear;
  will-change: transform, opacity;
  z-index: 100;
}

.reveal {
  opacity: 1 !important; 
}

.revealBtn {
  opacity: 1 !important; 
  transform: translateY(0) !important;
}