.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 100vh;
  max-height: $mobile-max-height;
  min-height: 520px;
  background: #0073cf;
  background: linear-gradient(130deg, #0073cf 50%, #ffffff 150%);
}

.home-content {
  width: 100%;
  text-align: center;
  color: #fff;
  animation: fadein 1s forwards 0.3s;
  opacity: 0;
}

.home-slogan {
  @include fluid-type(1.5rem, 2.6rem);
  display: block;
}

.home-cta-btns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-btn {
  @include fluid-type(1.3rem, 1.8rem);
  padding: 1em 1.9em;
  margin: 1.4em .6em;
  position: relative;
  display: inline-block;
  border-radius: 2em;
  transition: color 300ms, background 300ms, transform 300ms;
  transition-timing-function: ease-out;
}

.home-btn--vmw {
  border: 1px solid white;
  background: none;
  color: #FAFAFA;
  z-index: 1; /* matters! */
  overflow: hidden;
    
  &:hover {
    color: lighten(#fafafa, 20%);
    transform: translateY(1px);
  }

  &:active {
    color: darken(#fff, 10%);
    transform: translateY(2px);
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 720%;
    background: transparent;
    background: linear-gradient(130deg, rgba(2,0,36,0) 38%, rgba(255,255,255,0.3) 45%, rgba(0,212,255,0) 51%);
    transition: transform 0.3s;
    z-index: -1;  
  }

  &:hover::before {
    transform: translateY(-70%);
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 40px;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    box-shadow: 9px -9px 0px rgba(8, 69, 96, 0.1);
    transition: opacity 0.6s, transform .3s, background .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
    
  &:hover::after {
    opacity: 1;
    transform: translate(-6px, 6px);
  }

  &:active::after {
    transform: translate(-9px, 9px);
  }
}

.home-btn--git {
  border: none;
  background: #fff;
  color: #0576D0;
  
  &:hover {
    background: darken(#fff, 5%);
    transform: translateY(-1px);
  }
  
  &:active {
    background: lighten(#fff, 3%);
    transform: translateY(1px);
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 40px;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    box-shadow: -6px 6px 0 rgba(8, 69, 96, 0.1);
    transform: translate(3px, -3px);
    transition: transform 0.6s , opacity 0.3s ease-out;
  }
    
  &:hover::after {
    transform: translate(0);
    opacity: 1;
  }

  &:active::after {
    transform: translate(3px, -3px);
    opacity: 0;
  }
  
}

.vanta-canvas {
  opacity: 0;
  transition: opacity .3s ease-in;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

